<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
<h1>hello world</h1>
<video id="client-stream" width="100%" controls=""></video>
<video id="friend-stream" width="100%" controls=""></video>
<textarea rows="3" cols="100" id="txt-token">
</textarea>
<input type="text" id="friend-token">
<input type="button" value="connect" id="btnConnect">
</body>
<script src="bundle.js">
</script>
</html>