<!DOCTYPE html>
<html>
<head>
	<title></title>
	<script type="text/javascript" src="jquery.js"></script>
	<script type="text/javascript" src="socket.io/socket.io.js"></script>
	<script type="text/javascript">
		//connect to server
		var socket = io("http://localhost:3000");
		$(document).ready(function() {
			alert('chao')
		})
	</script>
</head>
<body>
<h1>xin chao</h1>
</body>
</html>